*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left-section{
    background:#f2f2f2;
    height: 100vh;
}

img {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}
.logo{
    text-align: center;
    padding: 1.5em;
}

.email{
    font-size: 0.8rem;
}

#current-user{
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1em 0;
    margin: 1.5em 0;
}


#current-user img {
    width: 2.5rem;
    height: 2.5rem;
}

.dash-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-items{
    background: #fff;
    display: block;
    width:100%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 20px;
}

.dash-items img{
    width:1.8rem;
    height:1.8rem;
}

#right-section{
    height: 100vh;
    background:url(./bg-content.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    background: #fff !important;
}

.log-out{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0 1.3rem;
}

.down-arrow {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.card {
    width: auto !important;
    height: 10rem !important;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow:5px 5px 5px rgba(255,255,255, 0.5);
    border-radius: 50px;
    margin: 1rem !important;
}

.border{
    border: 2px solid rgb(74, 74, 74) !important;
}

.card span {
    color: rgb(61, 61, 61);
    text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.content-container img{
    background-position: center;
    background-size:contain;
}

/* mesia quarries start */

/* mobile devices */

@media screen and (max-width: 480px) {
    img {
        width: 3rem;
        height: 3rem;
    }
    .logo{
        text-align: center;
        padding: 0.8rem;
    }
    .fs-4{
        font-size: 0.8rem !important;
    }
    .card {
        width: auto !important;
        height: auto !important;
        margin: 2rem 1rem !important;
    }
    
    
}

/* tablet ipad and ipad pro */

@media screen and (max-width: 1030px) {
    img {
        width: 2rem;
        height: 2rem;
    }
    .logo{
        text-align: center;
        padding: 1.5rem;
    }
    .fs-4{
        font-size:1rem !important;
    }
    .card {
        width: 100% !important;
        height: auto !important;
        margin: 2rem 1rem !important;
    }

    #current-user {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    #current-user .email-container{
        font-size: 0.8rem;
        text-align: center;
    }
}
