*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#left-section{
    background:#f2f2f2;
    height: 100vh;
}

img {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}
.logo{
    text-align: center;
    padding: 1.5em;
}

#current-user{
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1em 0;
    margin: 1.5em 0;
}

#current-user img {
    width: 2.5rem;
    height: 2.5rem;
}

.dash-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-items{
    background: #fff;
    display: block;
    width:100%;
    padding: 0.3rem;
    text-align: center;
    border-radius: 20px;
}

#right-section{
    height: 100vh;
    background: #C4C4C4;
}
.navbar {
    background: #fff !important;
}

.log-out{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0 1.3rem;
}

.down-arrow {
    font-size: 1.5rem;
}


/* mesia quarries start */

@media screen and (max-width: 480px) {
    img {
        width: 3em;
        height: 3em;
    }
    .logo{
        text-align: center;
        padding: 0.8em;
    }
    .fs-4{
        font-size: 0.8em !important;
    }    
}
